body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.weather-app-wrapper {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 20px;
}
.weather-app {
  border: 1px solid hsl(0, 0%, 53%);
  border-radius: 5px;
  padding: 20px;
}

h1 {
  color: #272142;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
}

.temp strong {
  font-size: 50px;
}
.text-top {
  position: relative;
  top: -18px;
}

.active{
    color:rgba(39, 33, 66);
    cursor:default ;
    text-decoration: none;
}

.active:hover{
    text-decoration: none;
}